{% extends 'base.html.twig' %}

{% block title %}Hello {{ name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ name|upper }}! ✅</h1>
    <p>
        This is our first page with Symfony 4.
        {% if id is not empty %}
            The page ID is {{ id }}.
        {% endif %}
    </p>
</div>
{% endblock %}
